<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Insurance Agent Dashboard</title></head>
<body>
    <h2>Welcome, Insurance Agent</h2>
	
    <a href="/insurance-customer/form"><button>New Policy</button></a><br/><br/>

    <ul>
        <li><a href="/insurance-customer/list">Customers</a></li>
        <li><a href="/customer-vehicle/list">Customer Vehicles</a></li>
        <li><a href="/insurance-plan/list">Insurance Plans</a></li>
        <li><a href="/policy/list">Policies</a></li>
        <li><a href="/claim/list">Claims</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
