<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Agent List</title></head>
<body>
    <h2>All Agents</h2>


	<!-- Search Form -->
	<form th:action="@{/admin/search}" method="get" style="margin-bottom: 1rem;">
	    <input type="text" name="query" placeholder="Search by ID or name" />
	    <button type="submit">Search</button>
	</form>

	<!-- Error Message -->
	<div th:if="${errorMessage}" style="color: red; font-weight: bold;">
	    <p th:text="${errorMessage}"></p>
	</div>


    <a href="/agent/form">Add New Agent</a>

    <form method="get" th:action="@{/agent/list}">
        Filter by Role:
        <select name="role">
            <option value="" th:selected="${filter == ''}">All</option>
            <option value="RENTAL" th:selected="${filter == 'RENTAL'}">RENTAL</option>
            <option value="INSURANCE" th:selected="${filter == 'INSURANCE'}">INSURANCE</option>
        </select>
        <button type="submit">Filter</button>
    </form>

    <br/>

    <table border="1">
        <tr><th>ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Role</th><th>Action</th></tr>
        <tr th:each="a : ${agents}">
            <td th:text="${a.id}"></td>
            <td th:text="${a.name}"></td>
            <td th:text="${a.email}"></td>
            <td th:text="${a.phone}"></td>
            <td th:text="${a.role}"></td>
            <td>
				    <a th:href="@{/agent/delete/{id}(id=${a.id})}">Delete</a>
			</td>
        </tr>
    </table>
</body>
</html>
