<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
	<link rel="stylesheet" th:href="@{/css/login.css}" />

</head>
<body>
    <div class="login-wrapper">
        <h2 class="login-title">Welcome !!</h2>

        <!-- ✅ Error message -->
        <div th:if="${param.error}" class="error-message">
            Invalid email or password. Please try again.
        </div>

		<form th:action="@{/login}" method="post" class="login-form">
		    <label for="email">Email</label>
		    <input type="text" id="email" name="username" placeholder="Enter your email" required />

		    <label for="password">Password</label>
		    <input type="password" id="password" name="password" placeholder="Enter your password" required />

		    <button type="submit">Login</button>
		</form>

    </div>
</body>
</html>
