<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Rental Booking</title>
</head>
<body>
<h2>Create New Booking</h2>

<form th:action="@{/rental-booking/save}" th:object="${booking}" method="post">
    <input type="hidden" th:field="*{customer.id}" />
    <input type="hidden" th:field="*{vehicle.id}" />

    <p th:if="${#fields.hasErrors('bookingDate')}" style="color:red" th:errors="*{bookingDate}"></p>
    Booking Date: <input type="date" th:field="*{bookingDate}" /><br/>

    <p th:if="${#fields.hasErrors('returnDate')}" style="color:red" th:errors="*{returnDate}"></p>
    Return Date: <input type="date" th:field="*{returnDate}" /><br/>

    <p th:if="${#fields.hasErrors('status')}" style="color:red" th:errors="*{status}"></p>
    Status:
    <select th:field="*{status}">
        <option value="Booked">Booked</option>
    </select><br/>

    <button type="submit">Confirm Booking</button>
</form>


</body>
</html>
