<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Insurance Policies</title></head>
<body>
    <h2>Insurance Policies</h2>

	<a href="/dashboard">Back to Dashboard</a>
	
	<form method="get" th:action="@{/policy/search}">
	    <input type="text" name="query" placeholder="Policy ID or Customer Name" />
	    Status:
	    <select name="status">
	        <option value="">All</option>
	        <option value="Active">Active</option>
	        <option value="Expired">Expired</option>
	    </select>
	    <button type="submit">Search</button>
	</form>

	<div th:if="${errorMessage}" style="color:red;">
	    <p th:text="${errorMessage}"></p>
	</div>
	
	<!-- View All Button -->
	<div th:if="${errorMessage} or ${#lists.size(policies) < totalCount}">
	    <form th:action="@{/policy/list}" method="get">
	        <button type="submit">View All</button>
	    </form>
	</div>


    <table border="1">
        <tr><th>ID</th><th>Vehicle</th><th>Plan</th><th>Status</th><th>Start Date</th><th>End Date</th><th>Action</th></tr>
        <tr th:each="p : ${policies}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.vehicle.registrationNumber}"></td>
            <td th:text="${p.plan.name}"></td>
            <td th:text="${p.status}"></td>
            <td th:text="${p.startDate}"></td>
            <td th:text="${p.endDate}"></td>
            <td><a th:href="@{/policy/delete/{id}(id=${p.id})}">Delete</a></td>
        </tr>
    </table>
</body>
</html>
